@media(max-width:900px){

nav{

position:fixed;

top:80px;

right:-100%;

width:270px;

height:calc(100vh - 80px);

background:#111827;

display:flex;

flex-direction:column;

padding:40px;

gap:25px;

transition:.35s;

}

nav.show{

right:0;

}

#menuBtn{

display:block;

}

}